@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --heading-size: 2.5rem;
    --subheading-size: 2rem;
    --title-size: 1.25rem;
    --info-size: 1rem;
    --background-color: #f5f5f5;
    --banner-bg:#C6E4D6;
    --button-clr:#006A50;
    --title-clr:#0E0E0E;
    --info-clr:#0e0e0ec1;
    --hover-clr:#C6E4D6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
    background-color: var(--background-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1600px ;
    height: 100px;
    background-color: var(--background-color);
}
nav a{
    text-decoration: none;
    color: var(--title-clr);
    font-size: var(--heading-size);
    font-weight: 700;
}
nav button{
    padding: 1rem 2rem;
    border: 1px solid var(--button-clr);
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--button-clr);
    font-size: var(--info-size);
    font-weight: 600;
    cursor: pointer;
}
nav button:hover{
    background-color: var(--button-clr);
    color: white;
    transition: all 0.9s ease;
}
.hero{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
    width: 1600px ;
    height: 500px;
    background-color: var(--banner-bg);
}
.hero-info{
    width: 630px;
    height: 400px;
    position: relative;
    padding:2rem 5rem; 
    background-color: var(--banner-bg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.hero-info p{
    position: inherit;
    top: 40px;
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    display: flex;
    justify-self: self-end;
    background-color: var(--banner-bg);
}
.hero-info h1{
    color: var(--title-clr);
    font-size: var(--heading-size);
    font-weight: 700;
    background-color: var(--banner-bg);
}
.hero-info button{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 1px solid var(--button-clr);
    border-radius: 0.5rem;
    background-color: var(--button-clr);
    color: white;
    font-size: var(--info-size);
    font-weight: 600;
    cursor: pointer;
}
.hero-info button:hover{
    background-color: #006a5ed5;
    transition: all 0.9s ease;
}
.hero img{
    width:475px ;
    height: 400px;
    margin-right: 5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--banner-bg);
}
.hero img[loading="lazy"]{
    filter: blur(5px);
    transition: filter 5s ease;
}

.pillers-of-bangladesh
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    margin: 3rem auto;
    width: 1600px ;
    height: 500px;
    background-color: var(--background-color);
}
.pillers-of-bangladesh .piller:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.pillers-of-bangladesh h1{
    color: var(--title-clr);
    font-size: var(--heading-size);
    display:inline-block; ;
    font-weight: 700;
    position: flex-start;
}
.pillers-of-bangladesh .description-of-pillers{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 1rem auto;
    width: 1600px ;
    height: 550px;
    background-color: var(--background-color);
}
.description-of-pillers .piller{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 400px;
    height: 100%;
    background-color: white;
    border: 1px solid #f5f5f5;
    border-radius: 1rem;
}
.description-of-pillers .piller img{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}
.description-of-pillers .piller h2{
    color: var(--title-clr);
    font-size: var(--subheading-size);
    font-weight: 700;
    background-color: transparent;
}
.description-of-pillers .piller p{
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    background-color: transparent;
    line-height: 1.5;
}
.vision-of-future{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
    width: 1600px ;
    background-color: var(--background-color-bg);
}
.vision-of-future h1{
    color: var(--title-clr);
    font-size: var(--heading-size);
    font-weight: 700;
}
.vision-of-future p{
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    line-height: 1.5;
}
.vision-of-future .future-vision{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem auto;
    width: 1600px ;
    background-color: var(--background-color);
}
.vision-of-future .future-vision div:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
 .vision1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    /* width: 600px; */
    height: 400px;
    background-color: #548ff520;
    border: 1px solid #f5f5f5;
    border-radius: 1rem;
}
.future-vision .vision1 img{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #548ff500;
}
.future-vision .vision1 h2{
    color: var(--title-clr);
    font-size: var(--subheading-size);
    font-weight: 700;
    background-color: #548ff500;
}
.future-vision .vision1 p{
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    background-color: #548ff500;
    line-height: 1.5;
}
.vision1 button{
    padding: 1rem ;
    border: 1px solid var(--button-clr);
    width:125px ;
    border-radius: 0.5rem;
    background-color: #5490F5;
    color: white;
    font-size: var(--info-size);
    font-weight: 600;
    cursor: pointer;
}
.vision2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    /* width: 600px; */
    height: 400px;
    background-color: #C6E4D6;
    border: 1px solid #f5f5f5;
    border-radius: 1rem;
}
.vision2 img{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}
.vision2 h2{
    color: var(--title-clr);
    font-size: var(--subheading-size);
    font-weight: 700;
    background-color: transparent;
}
.vision2 p{
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    background-color: transparent;
    line-height: 1.5;
}
.vision2 button{
    padding: 1rem ;
    border: 1px solid var(--button-clr);
    width:125px ;
    border-radius: 0.5rem;
    background-color: #09A15C;
    color: white;
    font-size: var(--info-size);
    font-weight: 600;
    cursor: pointer;
}
.vision3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    /* width: 600px; */
    height: 400px;
    background-color: #F7EBCF;
    border-radius: 1rem;
}
.vision3 img{
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}
.vision3 h2{
    color: var(--title-clr);
    font-size: var(--subheading-size);
    font-weight: 700;
    background-color: transparent;
}
.vision3 p{
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    background-color: transparent;
    line-height: 1.5;
}
.vision3 button{
    padding: 1rem ;
    border: 1px solid var(--button-clr);
    width:125px ;
    border-radius: 0.5rem;
    background-color: #FFC239;
    color: var(--title-clr);
    font-size: var(--info-size);
    font-weight: 600;
    cursor: pointer;
}
.younus-quote{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 2rem;
    width: 1600px ;
    background-color: white;
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: top 8px left 30px;
}
.younus-quote p{
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    line-height: 1.5;
    background-color: transparent;
}
.younus-quote h3{
    color: var(--title-clr);
    font-size: var(--heading-size);
    font-weight: 700;
    background-color: transparent;
}
.opinion-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
    width: 1600px ;
    background-color: var(--background-color);
}
.opinion-section h1{
    color: var(--title-clr);
    font-size: var(--heading-size);
    font-weight: 700;
}
.opinion-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    margin: 1rem auto;
    padding: 2rem ;
    border-radius: 1rem;
    width: 1600px ;
    /* height: 500px; */
    background-color: white;
}
.opinion-header{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid #0E0E0E15;
    width: 1600px ;
    background-color: #C6E4D6;
}
.opinion-header span{
    color: var(--title-clr);
    font-size: var(--subheading-size);
    font-weight: 700;
    background-color: transparent;
}
.opinion-box .opinion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    border: 1px solid #0E0E0E15;
}
.opinion #question{
    color: var(--title-clr);
    font-size: var(--title-size);
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 1400px;
    background-color: white;
}
.opinion #answer{
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    width: 15%;
    line-height: 1.5;
    background-color: white;
    display: flex;
    justify-content: center;
    border-left: 3px solid #0E0E0E15;
}

.opinion #answer select{
    padding: 1rem;
    border: 1px solid #0E0E0E15;
    border-radius: 0.5rem;
    background-color: #C6E4D6;
    color: var(--info-clr);
    font-size: var(--title-size);
    font-weight: 500;
    cursor: pointer;
}
.recent-news{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
    width: 1600px ;
    background-color: var(--background-color);
}
.recent-news h1{
    color: var(--title-clr);
    font-size: var(--heading-size);
    font-weight: 700;
}
.newscard{
    display: flex;
    align-items: center;
    margin: 1rem auto;
    justify-content: space-around;
    padding: 2rem ;
    gap: 2rem;
    border-radius: 1rem;
    width: 1600px ;
    background-color: white;
}
.newscard:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.newscard img{
    width: 400px;
    height: 300px;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    cursor: pointer;
}
.newscard img[loading="lazy"]{
    filter: blur(5px);
    transition: filter 5s ease;
}
img[loading="lazy"].loaded {
    filter: blur(0);
}

.newscard .aljazeera-png{
    width: 200px;
    height: 50px;
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}
.news-heading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 1000px;
    background-color: white;
}
.news-heading h1{
    color: var(--title-clr);
    font-size: var(--subheading-size);
    font-weight: 700;
    background-color: white;
}
.news-heading p{
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    line-height: 1.5;
    background-color: white;
}
.news-heading button{
    padding: 1rem ;
    border: 1px solid var(--button-clr);
    width:125px ;
    border-radius: 0.5rem;
    background-color: #006A50;
    color: white;
    font-size: var(--info-size);
    font-weight: 600;
    cursor: pointer;
}

.donate-for-people{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
    width: 1600px ;
    background-color: var(--background-color);
}

.donate-for-people h1{
    color: var(--title-clr);
    font-size: var(--heading-size);
    font-weight: 700;
    background-color: transparent;
}
.donate-for-people p{
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    text-align: justify;
    line-height: 1.5;
    background-color: transparent;
}
.donate-for-people .donate-ammount{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    width: 1600px ;
    background-color: transparent;
}
.donate-ammount span{
    color: var(--title-clr);
    font-size: var(--subheading-size);
    font-weight: 700;
    padding: 2rem;
    border: 2px solid #0E0E0E15;
    border-radius: 1rem;
    background-color: var(--hover-clr);
    cursor: pointer;
}
.donate-ammount span:hover{
    background-color: var(--button-clr);
    color: white;
    transition: all 0.5s ease;
}
.donate-for-people input{
    padding: 1rem;
    width: 85%;
    /* display: flex;
    align-items: center; */
    border: 1px solid #0E0E0E15;
    border-radius: 0.5rem;
    background-color: white;
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    outline: none;
}
.donate-for-people input::placeholder{
    color: var(--info-clr);
    font-size: var(--info-size);
    font-weight: 500;
    text-align: center;
}
.donate-for-people button{
    padding: 1rem ;
    border: 1px solid var(--button-clr);
    width:125px ;
    border-radius: 0.5rem;
    background-color: #006A50;
    color: white;
    font-size: var(--info-size);
    font-weight: 600;
    cursor: pointer;
}

.newsletter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 1600px ;
    height: 400px;
    padding-top: 0.5rem;
    border-radius: 2rem;
    background-color: var(--banner-bg);
}
.newsletter h1{
    color: var(--title-clr);
    font-size: var(--heading-size);
    font-weight: 700;
    margin-top: 0;
    background-color: var(--banner-bg);
}
.newsletter p{
    color: #0E0E0E70;
    font-size: var(--info-size);
    font-weight: 500;
    line-height: 1.5;
    background-color: var(--banner-bg);
}
.newsletter form{
    background-color: var(--banner-bg);
    display: flex;
}
.newsletter input{
    padding: 1rem 2rem;
    width: 600px;
    border: 1px solid #0E0E0E15;
    background-color: white;
    color: var(--info-clr);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    font-size: var(--info-size);
    font-weight: 500;
    outline: none;
}
.newsletter button{
    padding: 1rem ;
    border: 1px solid #0E0E0E15;
    width:125px ;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: #006A50;
    color: white;
    font-size: var(--info-size);
    font-weight: 600;
    cursor: pointer;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    
    margin: 2rem auto;
    width: 1600px ;
    background-color: var(--background-color);
}
footer h1{
    color: var(--title-clr);
    font-size: var(--heading-size);
    font-weight: 700;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
}
footer .footer-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    position: relative;
    margin: 1rem auto;
    width: 1600px ;
    background-color: var(--background-color);
}
.footer-link a{
    text-decoration: none;
    color: var(--title-clr);
    font-size: var(--info-size);
    font-weight: 500;
    display: flex;
    gap : 2rem;
    justify-content: center;
    background-color: var(--background-color);
}
.footer-link a::after{
    content: "";
    display: block;
    width:0rem;
    height: 2px;
    background: #0E0E0E;
    transition: width 0.3s;
    top: 100%;
    position: absolute;
    
}
.footer-link a:hover::after{
    width:5rem;
}
footer .social-link{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem auto;
    width: 1600px ;
    background-color: var(--background-color);
}